.main-footer{
	padding: 25px 0;
	background: white;
	margin-top: 50px;
	color: rgba(black, 0.4);
	line-height: 38px;
	.menu{
		li{
			a{
				transitions: color 0.3s;
				color: rgba(black, 0.4);
				&:hover{
					color: rgba($primary-color, 0.7);
					text-decoration: underline;
				}
			}

		}
	}
	i{
		font-size: 22px;
		color: rgba(black, 0.7);
	}
}