.profile-card{
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, .09);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
	background: white;
	margin-bottom: 10px;
	border-radius: 3px;
	.thumbnail{
		border: medium none;
		border-radius: 3px;
		padding: 0;
		img{
			width: 48px;
			height: 48px;
		}
	}
	.card-content{
		img{
			width: 32px;
			height: 32px;
			margin-bottom: 5px;
			border-radius: 3px;
		}
	}
	a{
		color: $black33;
	}
	small{
		font-size: 12px;
		color: rgba(black, 0.5);
		line-height: 1;
		font-style: italic;
	}
	.content{
		p{
			color: rgba(black, 0.7);
			line-height: 1.4;
			font-size: 13px;
		}
		i{
			margin-right: 5px;
		}
	}
}
.setting-menu{
	border: 1px solid rgba(0, 0, 0, .09);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
	background: white;
	border-radius: 3px;
	a{
		color: $gray55;
		&:hover{
			background: $grayf5;
		}
	}
	.is-active{
		background: $main;
		color: white;
		&:hover{
			background: $main;
		}
	}
}
.white-box{
	padding: 20px 20px 6px;
	border: 1px solid rgba(0, 0, 0, .09);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
	background: white;
	border-radius: 3px;
	margin-bottom: 19px;
	img{
		max-width: 80px;
		margin-bottom: 15px;
		height: auto;
		border-radius: 3px;
	}
}
.small-lead{
	font-size: 18px;
	font-weight: 300;
}